<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- 3 Sección principal para mostrar la informaccion de la entidad categoria -->
        <section th:fragment="listadoCotizaciones" >
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Listado test</h4>
                            </div>
                            <div th:if="${cotizacionesPastel != null and !cotizacionesPastel.empty}">
                                
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr><th>#</th>
                                            <th>test1</th>
                                            <th>tst2</th>

                                    </thead>
                                    <tbody>
                                        <tr th:each="cotizacionPastel, contador : ${cotizacionesPastel}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${cotizacionPastel.descripcion}]]</td>
                                            <td>Cotizacion Pastel</td>
                                            
                                            <td><a th:href="@{/cotizacionPastel/modificar/}+${cotizacionPastel.id}"
                                                   class="btn btn-success">
                                                    Actualizar</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${cotizacionesPastel == null or cotizacionesPastel.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3>total</h3>
                                <h4 class="fs-2"><i class="fas fa-users"></i>[[${totalCotizacionesPastel}]]</h4>
                            </div>
                        </div>
                    </div>
                     <h2 style="text-align: center; color: #e91e63; font-size: 2em; margin-bottom: 30px;">ELIGE Y PERSONALIZA TU QUEQUE</h2>

                <form th:action="@{/cotizacionPastel/guardar}" method="post" th:object="${cotizacionPastel}" enctype="multipart/form-data">
                    <div class="container">
                        <div class="column">
                            <div class="section">
                                <h3>TAMAÑO</h3>
                                <label><input type="radio" name="tamano" value="GRANDE 40 PORCIONES" required> GRANDE 40 PORCIONES</label>
                                <label><input type="radio" name="tamano" value="MEDIANO 20 PORCIONES"> MEDIANO 20 PORCIONES</label>
                                <label><input type="radio" name="tamano" value="PEQUEÑO 10 PORCIONES"> PEQUEÑO 10 PORCIONES</label>
                            </div>

                            <div class="section">
                                <h3>SABOR DEL QUEQUE</h3>
                                <label><input type="radio" name="sabor" value="CHIA - LIMON" required> CHIA - LIMON</label>
                                <label><input type="radio" name="sabor" value="VAINILLA - NARANJA"> VAINILLA - NARANJA</label>
                                <label><input type="radio" name="sabor" value="CHOCOLATE"> CHOCOLATE</label>
                                <label><input type="radio" name="sabor" value="REDVELVET"> REDVELVET</label>
                                <label><input type="radio" name="sabor" value="HIGOS"> HIGOS</label>
                                <label><input type="radio" name="sabor" value="COCO"> COCO</label>
                                <label><input type="radio" name="sabor" value="MARACUYA"> MARACUYA</label>
                            </div>

                            <div class="section">
                                <h3>RELLENO</h3>
                                <label><input type="radio" name="relleno" value="LIMON" required> LIMON</label>
                                <label><input type="radio" name="relleno" value="NUTELLA"> NUTELLA</label>
                                <label><input type="radio" name="relleno" value="CHOCOLATE"> CHOCOLATE</label>
                                <label><input type="radio" name="relleno" value="FRESAS"> FRESAS</label>
                                <label><input type="radio" name="relleno" value="HIGOS"> HIGOS</label>
                                <label><input type="radio" name="relleno" value="COCO"> COCO</label>
                                <label><input type="radio" name="relleno" value="DULCE DE LECHE"> DULCE DE LECHE</label>
                            </div>
                        </div>

                        <div class="column">
                            <div class="section">
                                <h3>TIPO DE PASTA / CUBIERTA</h3>
                                <label><input type="radio" name="cubierta" value="PASTA AUSTRALIANA" required> PASTA AUSTRALIANA</label>
                                <label><input type="radio" name="cubierta" value="LUSTRE"> LUSTRE</label>
                                <label><input type="radio" name="cubierta" value="FRUTAS O SEMILLAS"> FRUTAS O SEMILLAS</label>
                            </div>

                            <div class="section">
                                <h3>INGREDIENTES EXTRA</h3>
                                <label><input type="checkbox" name="extras" value="ALMENDRAS"> ALMENDRAS</label>
                                <label><input type="checkbox" name="extras" value="NUECES"> NUECES</label>
                                <label><input type="checkbox" name="extras" value="FRESAS"> FRESAS</label>
                                <label><input type="checkbox" name="extras" value="MELOCOTONES"> MELOCOTONES</label>
                                <label><input type="checkbox" name="extras" value="ARANDANOS"> ARANDANOS</label>
                                <label><input type="checkbox" name="extras" value="HIGOS"> HIGOS</label>
                                <label><input type="checkbox" name="extras" value="CIRUELAS"> CIRUELAS</label>
                                <label><input type="checkbox" name="extras" value="OTROS"> OTROS</label>
                            </div>

                            <div class="section">
                                <h3>AGREGAR IMAGEN DE DISEÑO</h3>
                                <div class="drag-drop-area">
                                    Arrastra una imagen hasta aquí o sube un archivo
                                    <input type="file" name="imagenDiseno" accept="image/*"> </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit">COTIZAR</button>
                </form>
                </div>
               
            </div>
        </section>
       
   
    </body>
</html>
