<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2 style="text-align: center; color: #e91e63; font-size: 2em; margin-bottom: 30px;">ELIGE Y PERSONALIZA TU QUEQUE</h2>

        <form th:action="@{/cotizacionReposteria/guardar}" method="post" th:object="${cotizacionReposteria}" enctype="multipart/form-data">
            <div class="container">
                <div class="column">
                    <input type="hidden" name="id" th:field="*{id}"/>
                    <input type="hidden" name="usuario.idUsuario" th:field="*{usuario.idUsuario}"/>
                   
                    
                    <div class="section">
                        <h3>TIPO</h3>
                        <label><input type="text" th:field="*{tipoReposteria}" readonly></label>
                    </div>
                    
                     <div class="section">
                        <h3>CANTIDAD</h3>
                        <label><input type="text" th:field="*{cantidad}" readonly></label>
                    </div>

                    <div class="section">
                        <h3>DESCRIPCION</h3>
                        <label><input type="text" th:field="*{descripcion}" readonly></label>
                    </div>
                    
                    
                    
                    <div class="section">
                        <h3>Usuario</h3>
                        <label><input type="text" th:field="*{usuario.nombre}" readonly></label>
                        <label><input type="text" th:field="*{usuario.correo}" readonly></label>
                        <label><input type="text" th:field="*{usuario.telefono}" readonly></label>
                    </div>

                    <div class="section">
                        <h3>ESTADO</h3>

                        <div th:if="*{estado == 'Pendiente Revision'}">
                            <select th:field="*{estado}"
                                    class="form-select" 
                                    aria-label="Default select example">
                                <option value='Pendiente Revision' selected>Pendiente Revisión</option>
                                <option value='En Revision'>En Revision</option>
                                <option value='Finalizada'>Finalizada</option>
                            </select>
                        </div>
                        <div th:if="*{estado == 'En Revision'}">
                            <select th:field="*{estado}"
                                    class="form-select" 
                                    aria-label="Default select example">
                                <option value='En Revision' selected>En Revision</option>
                                <option value='Finalizada'>Finalizada</option>
                                <option value='Pendiente Revision'>Pendiente Revision</option>
                            </select>
                        </div>
                        <div th:if="*{estado == 'Finalizada'}">
                            <select th:field="*{estado}"
                                    class="form-select" 
                                    aria-label="Default select example">
                                <option value='Finalizada'selected>Finalizada</option>
                                <option value='En Revision' >En Revision</option>
                                <option value='Pendiente Revision'>Pendiente Revision</option>
                            </select>
                        </div>
                </div>

              
            </div>

            <button type="submit">COTIZAR</button>
        </form>
    </body>
</html>
